.navbar-acc ul {
	list-style-type: none;
}

.navbar-acc li {
	display: inline-block;
	padding: 0 1em;
}

.navbar-acc a {
	text-decoration: none;
}

.navbar-fixed-top {
	border: 0;
}

.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
}

.nav-sidebar {
	margin-right: -21px;
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

.nav > li {
	position: relative;
	display: block;
}

.main {
	padding: 20px;
}

.panel-green {
	border-color: #5cb85c;
}

.panel-green > .panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}

.panel-orange {
	border-color: #f0ad4e;
}

.panel-orange > .panel-heading {
	border-color: #f0ad4e;
	color: #fff;
	background-color: #f0ad4e;
}

.panel-red {
	border-color: #d9534f;
}

.panel-red > .panel-heading {
	border-color: #d9534f;
	color: #fff;
	background-color: #d9534f;
}

#title-dashboard {
	font-size: 0.6em;
}

.modif-circle {
	font-size: 0.7em;
}

.mod-header {
	margin-top: 2em;
}

.menu-general {
	font-family: "Passion One";
	font-size: 2.5em;
}

.menu-general ul {
	list-style: none;
}

.menu-general a {
	color: #444;
}

.menu-general a:hover {
	color: #C8373C;
	text-decoration: none;
}

.menu-gauche {
	margin-right: -22px;
	margin-top: 20px;
}

.menu-droite {
	margin-left: -40px;
	margin-top: 20px;
}

.element-menu-1 {
	margin-right: -12px;
}

.element-menu-3 {
	margin-right: -12px;
}

.element-menu-4 {
	margin-left: -12px;
}

.element-menu-6 {
	margin-left: -12px;
}